body
{
    color:black;
    text-align: center;
    font-size: 25px;
    font-family: 'Playball', cursive;

}
*
{
    padding: 0;
    margin: 0;
}
h1
{
    width: 100%;
}

hr{

    border: dotted;
    width: 4%;
    border-bottom: none;
}
a
{
    margin:10px 20px;
    font-family: 'Montserrat',sans-serif;
    text-decoration: none;
}
img{
    width: 100%;
}
.one
{
    background-color:#ffc93c;
    position: relative;
    padding: 100px;
  margin: 0px 0px;
}
.an
{
    text-align: center;
   margin: auto;
   font-family: 'Playball', cursive;
}
.par2
{
    line-height: 2;
    color:#21243d;
   width: 50%;
   margin: auto;
   font-family: 'Jua', sans-serif;
}
.gif
{
    width:auto;
    height: 40%;

}
.men
{
    width: 40%;
    height: 40%;
}
.w
{
    width:40%;
    height: 40%;
}
.par3
{
    line-height: 2;
    color:#21243d;
   width: 50%;
   margin: auto;
   font-family: 'Jua', sans-serif;
   padding-bottom:50px ;
}
.Footer
{
    background-color:#ffc93c;
    padding: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 100px 0px 0px 0px;
}
.copy
{
    font-size: 10px;
}
.btn {
    background-color: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #000000;
    font-size: 20px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    width: 15%;
    padding: 40px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;

    }
    
    .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    }